.feed-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .feed {
    max-width: 300px;
    width: 100%;

    .posts {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.1rem;
      .post {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        background-color: rgb(125, 23, 50);
        padding-inline: 0.5rem;
        padding-block: 0.5rem;

        .user {
          display: flex;
          gap: 0.5rem;
          align-items: center;

          .img-wrapper {
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid rgb(0, 0, 0, 0);
            background: conic-gradient(
                from 45deg,
                rgb(238, 255, 7),
                rgb(4, 54, 235),
                rgb(235, 7, 220),
                rgb(238, 255, 7)
              )
              border-box;
            img {
              width: 2rem;
              object-fit: cover;
              aspect-ratio: 1/1;
              border-radius: 50%;
            }
          }
        }
        img {
          width: 100%;
        }
        .icons {
          display: flex;
          justify-content: space-between;
          .left {
            display: flex;
            gap: 0.75rem;
          }
          svg {
            aspect-ratio: 1/1;
            width: 1rem;
            color: white;
          }
          .like {
            color: red;
          }
          button {
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}
